.buildpath
.project
.zfproject.xml
.settings*
data/cache/*
data/extensions/
data/pkg/
data/logs/
data/locks/
data/revision/
nbproject
nbproject/private/
application/configs/application.ini
application/configs/local.ini
scripts/worker/create_user.sh
instance/
store/
tests/log/
tests/test.log
public/assets/
