hr, footer, div.navbar { display: none; }
body { padding-top: 0px; }

company-details h3 {
    margin-bottom: 8px;
}
company-details p {
    padding: 0px;
    margin: 0px;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: white;
    border: 0px solid #EEE;
    border: 0px solid rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.05);
}

.span2.date-invoice {
    width: 160px;
}
.span2.date-invoice div.span1 {
    width: 65px;
    text-align: right;
    margin-right: 10px;
}

div.invoice{padding:40px;}div.invoice h1{margin-bottom:40px;font-size:28px;}

