/* @override
	http://dev.magetesting.com/public/css/style.css
	http://magetesting:8888/public/css/style.css */

/* FONTS

-- PRAGMATICA WEB --

Extra Light 			"pragmatica-web"	200	normal
Extra Light Oblique 	"pragmatica-web"	200	italic
Light					"pragmatica-web"	300	normal
Light Oblique			"pragmatica-web"	300	italic
Book					"pragmatica-web"	400	normal
Oblique					"pragmatica-web"	400	italic
Bold					"pragmatica-web"	700	normal
Bold Oblique			"pragmatica-web"	700	italic
Black					"pragmatica-web"	900	normal

EXAMPLE
font-family: "pragmatica-web",sans-serif;
font-style: normal;
font-weight: 200;

-- PRAGMATICA WEB --
Extra Light				"pragmatica-web-condensed"	300	normal
Extra Light Oblique		"pragmatica-web-condensed"	300	italic
Book					"pragmatica-web-condensed"	400	normal
Oblique					"pragmatica-web-condensed"	400	italic
Black					"pragmatica-web-condensed"	900	normal
Black Oblique			"pragmatica-web-condensed"	900	italic

EXAMPLE
font-family: "pragmatica-web-condensed",sans-serif;
font-style: normal;
font-weight: 300;

*/

/*body {
    padding-top: 90px;
}*/

.right {
    float: right !important;
}
.topbar div > ul, .nav {
    float: none;
}

.navbar-fixed-top .nav li a i,
.navbar-fixed-top .nav li a img { opacity:0.4; filter:alpha(opacity=40); }
.navbar-fixed-top .nav li.active a i,
.navbar-fixed-top .nav li.active a img,
.navbar-fixed-top .nav li a:hover i,
.navbar-fixed-top .nav li a:hover img { opacity:1.0; filter:alpha(opacity=100);  }
.navbar-fixed-top .nav li a i { margin-right: 5px; }
.navbar-fixed-top .nav li a img { margin-right: 5px; float: left; margin-top: 2px; }

.yes-no form {
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}
.yes-no .clear{
    clear: both;
}

.gray-menu select {
    background-color: #DDDDDD;
}

.split-columns {
    border-right: 1px solid #E4E4E4;
}
.modal-body.extend-height {
    max-height: 410px;
}
.halfoffset1 {
    margin-left: 50px;
}
.form-horizontal .control-group .split-columns {
    padding-right: 20px;
}
.form-horizontal .control-group {
    margin-bottom: 9px;
}
.form-register ul {
    list-style: none;
    margin-left: 0px;
    margin-bottom: 20px;
}
.form-register input {
    margin-bottom: 0px;
}

.total-align {
    padding-left: 30px;
}
.span2.date-invoice {
    width: 160px;
}
.span2.date-invoice div.span1 {
    width: 65px;
    text-align: right;
    margin-right: 10px;
}
.table tr:hover {
     background-color: #F9F9F9;
}

.paypal.form-inline {
    display: inline;
}

#coupon-holder{
    width:100%;
    text-align:center;
}

.align-right {
    text-align: right;
}
.align-left {
    text-align: left;
}

.span2.pull-right.align-right {
    padding-right: 10px;
}

.margin-reset-form {
    margin-left: 40px;
}

#coupon-holder ul.errors {
    width: 215px;
    margin: 0px auto;
}

.number-money { background: url(../img/32x32/money_bag.png) no-repeat 0 5px; margin-bottom: 20px; }
.number-date { background: url(../img/32x32/calendar_view_day.png ) no-repeat 0 5px; margin-bottom: 20px; }
.number-stores { background: url(../img/32x32/application_cascade.png ) no-repeat 0 5px;  margin-bottom: 20px; }
.number-people { background: url(../img/32x32/user_astronaut.png ) no-repeat 0 5px; margin-bottom: 20px; }

.number-money h2, .number-money p { padding-left: 45px; }
.number-date h2, .number-date p { padding-left: 45px; }
.number-stores h2, .number-stores p { padding-left: 45px; }
.number-people h2, .number-people p { padding-left: 45px; }

.no-max-h {
    max-height:none;
}

.row-name{
    margin:0px;

}

#custom-queue-form input {
    width:265px;
}

#custom-queue-form select {
    width:275px;
}

#user-edit-form td {
  padding-left:60px;
}

.col-left{
    display:inline-block;
    width:49%;
}
.col-right{
    display:inline-block;
    width:49%;
}

/* Account Page */
.account_page h1{
margin-bottom: 20px;
}
.account_page h3{
	font-size: 18px;
	font-weight: 600;
	border-bottom: 1px solid #eeeeee;
	border-top: 1px solid #eeeeee;
	margin-top: 60px;
}
p.user-name, .user-name {
    font-family: "pragmatica-web-condensed", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #34aae5;
}
.account_member{
	margin-top: 5px;
}
.account_plans{
	margin-bottom: 10px;
}
/* @group admin extension grid */
.admin-extensions .logo {
    max-width: 100px;
}
.logo-container img {
    max-width: 100px;
}
.screenshots img {
    max-width: 200px;
}

.nowrap {
    white-space: nowrap;
}
.display-inline {
    display: inline;
}
.display-block {
    display: block;
}


/** LESS - START COMPILED CSS **/
html,body{height:100%;font-family:Helvetica,Arial,sans-serif;}
.form-actions{background-color:#fff;}
.logo{position:relative;z-index:1;margin:20px 0;}
.magetesting{font-famiy:"pragmatica-web",Helvetica,Arial,sans-serif;font-weight:700;}.magetesting .mage{color:#19333a;}
.magetesting .testing{color:#f64135;}
.red-bar{height:5px;background:#f64135;}
.navbar-global{-webkit-box-shadow:0 8px 6px -6px #888888;-moz-box-shadow:0 8px 6px -6px #888888;box-shadow:0 8px 6px -6px #888888;}.navbar-global .navbar-inner{box-shadow:none;background-color:#fff;background-image:none;border-bottom:1px solid #e5e5e5;filter:none;}.navbar-global .navbar-inner .nav>li>a{padding:4px 15px;background:#f64135;color:#fff;text-shadow:none;border-right:1px solid #fff;outline:0;}.navbar-global .navbar-inner .nav>li>a:hover,.navbar-global .navbar-inner .nav>li>a:focus{background-color:#34aae5;box-shadow:0 3px 8px rgba(0, 0, 0, 0.5) inset;color:#fff;text-decoration:none;}
.navbar-global .navbar-inner .nav>.active>a{background-color:#f64135;box-shadow:0 3px 8px rgba(0, 0, 0, 0.5) inset;color:#fff;text-decoration:none;}.navbar-global .navbar-inner .nav>.active>a:hover,.navbar-global .navbar-inner .nav>.active>a:focus{background-color:#34aae5;box-shadow:0 3px 8px rgba(0, 0, 0, 0.5) inset;color:#fff;text-decoration:none;}
.navbar-global .navbar-inner .nav>.first>a,.navbar-global .navbar-inner .nav>.first>a:hover,.navbar-global .navbar-inner .nav>.first>a:focus{-webkit-border-bottom-left-radius:6px;-moz-border-radius-bottomleft:6px;border-bottom-left-radius:6px;}
.navbar-global .navbar-inner .nav>.last>a,.navbar-global .navbar-inner .nav>.last>a:hover,.navbar-global .navbar-inner .nav>.last>a:focus{-webkit-border-bottom-right-radius:6px;-moz-border-radius-bottomright:6px;border-bottom-right-radius:6px;}
.navbar-global .navbar-inner .nav.nav-subpages{position:relative;bottom:23px;}.navbar-global .navbar-inner .nav.nav-subpages>li>a{font-family:"pragmatica-web-condensed",Helvetica,Arial,sans-serif;font-style:normal;font-weight:300;font-size:18px;text-transform:uppercase;padding:0;margin-left:20px;text-shadow:none;background:none;box-shadow:none;color:#444;border-bottom:1px dotted #ffffff;outline:0;}.navbar-global .navbar-inner .nav.nav-subpages>li>a:hover,.navbar-global .navbar-inner .nav.nav-subpages>li>a:focus{background:none;box-shadow:none;color:#444;border-bottom:1px dotted #666666;outline:0;}
.navbar-global .navbar-inner .nav.nav-subpages>.active>a,.navbar-global .navbar-inner .nav.nav-subpages>.active>a:hover,.navbar-global .navbar-inner .nav.nav-subpages>.active>a:focus{background:none;box-shadow:none;color:#444;border-bottom:1px dotted #666666;outline:0;}
.navbar-global .dropdown.dropdown-mainmenu .caret-white{border-top:4px solid #ffffff;}
.navbar-global .pull-right>li>.dropdown-menu{background:#34aae5;margin-right:94px;margin-top:0;-webkit-border-top-left-radius:0;-webkit-border-top-right-radius:0;-moz-border-radius-topleft:0;-moz-border-radius-topright:0;border-top-left-radius:0;border-top-right-radius:0;border:0;}.navbar-global .pull-right>li>.dropdown-menu a{color:white;}
.navbar-global .nav>li>.dropdown-menu:after{border-bottom:0;}
h1{font-family:"pragmatica-web-condensed",Helvetica,Arial,sans-serif;font-style:normal;font-weight:300;font-size:28px;}
h4,legend{font-family:"pragmatica-web-condensed",Helvetica,Arial,sans-serif;font-style:normal;font-weight:300;font-size:21px;}
fieldset.margins{margin:20px 0 60px 0;}fieldset.margins.margins-small{margin:20px 0 30px 0;}
fieldset.margins.margins-first{margin:60px 0 30px 0;}fieldset.margins.margins-first.margin-small{margin:40px 0 20px 0;}
.row.row-large{margin-top:20px;}
.control-label.required:after{content:'*';}
.input-radio .input-radio-button input{margin-top:42px;}
.mt{margin-top:40px;}
.mt_shadow{-webkit-box-shadow:0 8px 6px -6px #888888;-moz-box-shadow:0 8px 6px -6px #888888;box-shadow:0 8px 6px -6px #888888;}
.tab-stripe{float:left;min-height:60px;min-width:5px;background:#34aae5;}
.edit-account .btn-primary{margin-left:5px;}
.secondary{line-height:28px;margin-right:5px;}
.form-register .btn-primary{margin-left:5px;}
.media-heading{font-family:"pragmatica-web",Helvetica,Arial,sans-serif;font-size:16px;font-weight:700;font-style:normal;}
.image-column img{margin-left:40px;}.image-column img:last-of-type{margin-left:0;}
.partner{margin-top:20px;}
.partner .partner-logo{margin-top:40px;}
*[rel="popover"]{cursor:pointer;}
.icon-blue{background-image:url("../img/glyphicons-halflings-blue.png");}
.icon-red{background-image:url("../img/glyphicons-halflings-red.png");}
.btn-mini .icon{margin-top:0px;}
.btn-minimini{padding:0px 4px;}
.btn-red{color:#fff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#F0554A;*background-color:#f64135;background-image:-moz-linear-gradient(top, #f0554a, #f64135);background-image:-webkit-gradient(linear, 0 0, 0 100%, #f0554a, to(#f64135));background-image:-webkit-linear-gradient(top, #f0554a, #f64135);background-image:-o-linear-gradient(top, #f0554a, #f64135);background-image:linear-gradient(to bottom, #f0554a, #f64135);background-repeat:repeat-x;border-color:#f64135 #f64135 #1f6377;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffF0554A', endColorstr='#fff64135', GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);}.btn-red:hover,.btn-red:active,.btn-red.active,.btn-red.disabled,.btn-red[disabled]{color:#fff;background-color:#F0554A;*background-color:#f64135;}
.btn-blue{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#39ace6;*background-color:#14719f;background-image:-moz-linear-gradient(top, #3daee6, #34aae5);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#3daee6), to(#34aae5));background-image:-webkit-linear-gradient(top, #3daee6, #34aae5);background-image:-o-linear-gradient(top, #3daee6, #34aae5);background-image:linear-gradient(to bottom, #3daee6, #34aae5);background-repeat:repeat-x;border-color:#34aae5 #34aae5 #1f6377;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);}.btn-blue:hover,.btn-blue:active,.btn-blue.active,.btn-blue.disabled,.btn-blue[disabled]{color:#ffffff;background-color:#34aae5;*background-color:#14719f;}
.btn-gold{color:#333333;text-shadow:0 1px 0 rgba(0, 0, 0, 0.25);background-color:#e5c200;*background-color:#e5c200;background-image:-moz-linear-gradient(top, #f1cc00, #e5c200);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#e5c200), to(#e5c200));background-image:-webkit-linear-gradient(top, #f1cc00, #e5c200);background-image:-o-linear-gradient(top, #f1cc00, #e5c200);background-image:linear-gradient(to bottom, #f1cc00, #e5c200);background-repeat:repeat-x;border-color:#f1cc00 #e5c200 #1f6377;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#61bdeb', endColorstr='#34aae5', GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);}
.btn-gold:hover,.btn-gold:active,.btn-gold.active,.btn-gold.disabled,.btn-gold[disabled]{color:#333333;background-color:#e5c200;*background-color:#e5c200;}
.btn-faded{color:#bbbbbb;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#f1f1f1;*background-color:#bbbbbb;background-image:-moz-linear-gradient(top, #f3f3f3, #eeeeee);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#eeeeee));background-image:-webkit-linear-gradient(top, #f3f3f3, #eeeeee);background-image:-o-linear-gradient(top, #f3f3f3, #eeeeee);background-image:linear-gradient(to bottom, #f3f3f3, #eeeeee);background-repeat:repeat-x;border-color:#eeeeee #eeeeee #1f6377;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);text-shadow:none;}.btn-faded:hover,.btn-faded:active,.btn-faded.active,.btn-faded.disabled,.btn-faded[disabled]{color:#bbbbbb;background-color:#eeeeee;*background-color:#bbbbbb;}
.btn-faded.btn-inverse{color:#888888;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#474747;*background-color:#111111;background-image:-moz-linear-gradient(top, #494949, #444444);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#494949), to(#444444));background-image:-webkit-linear-gradient(top, #494949, #444444);background-image:-o-linear-gradient(top, #494949, #444444);background-image:linear-gradient(to bottom, #494949, #444444);background-repeat:repeat-x;border-color:#444444 #444444 #1f6377;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);}.btn-faded.btn-inverse:hover,.btn-faded.btn-inverse:active,.btn-faded.btn-inverse.active,.btn-faded.btn-inverse.disabled,.btn-faded.btn-inverse[disabled]{color:#888888;background-color:#444444;*background-color:#111111;}
.btn-deploy{width:25%;}
.badge-red{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);white-space:nowrap;vertical-align:baseline;background-color:#f64135;}
.badge-blue{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);white-space:nowrap;vertical-align:baseline;background-color:#34aae5;}
.alert-red{padding:8px 35px 8px 14px;margin-bottom:20px;color:darker(#f64135, 20%);text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);background-color:#f64135;border:1px solid darker(#f64135, 10%);-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}.alert-red h4{margin:0;}
.alert-red .close{position:relative;top:-2px;right:-21px;line-height:20px;}
.alert-blue{padding:8px 35px 8px 14px;margin-bottom:20px;color:darker(#34aae5, 20%);text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);background-color:#34aae5;border:1px solid darker(#34aae5, 10%);-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}.alert-blue h4{margin:0;}
.alert-blue .close{position:relative;top:-2px;right:-21px;line-height:20px;}
.alert-blank{padding:8px 35px 8px 14px;margin-bottom:20px;color:#000;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);background-color:#fff;border:1px solid #fff;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}.alert-blank h4{margin:0;}
.alert-blank .close{position:relative;top:-2px;right:-21px;line-height:20px;}
.input-radio .input-radio-alert input{width:511px;}
.input-radio .input-radio-alert.alert-info input{width:100%;}
.accordion-group .accordion-heading .accordion-toggle{outline:0;}
.currency{text-align:left;}
.invoice .invoice-details h5{margin:0;}
.invoice .invoice-purchase .invoice-total{margin-top:30px;}.invoice .invoice-purchase .invoice-total div{border-top:1px dotted #ccc;}.invoice .invoice-purchase .invoice-total div.currency{font-weight:700;}
.remove-typekit>*{font-family:Helvetica,Arial,sans-serif;}
.img-resize{width:100%;position:relative;top:0;left:0;}
.braintree-vault-note{margin:6px 12px 0 0;}
footer .links,footer .links a{color:#bbb;}
.js-video{height:0;padding-top:25px;padding-bottom:67.5%;margin-bottom:10px;position:relative;}.js-video.vimeo{padding-top:0;}
.js-video.widescreen{padding-bottom:57.25%;}
.js-video embed,.js-video iframe,.js-video object,.js-video video{top:0;left:0;width:100%;height:100%;position:absolute;}
@media (max-width:767px){.js-video{padding-top:0;}}.mt-login{position:absolute;top:50%;left:50%;margin:-175px 0 0 -230px;width:420px;padding:20px;border:1px solid #e5e5e5;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 8px 6px -6px #888888;-moz-box-shadow:0 8px 6px -6px #888888;box-shadow:0 8px 6px -6px #888888;}.mt-login .alert-login{padding:8px 14px;}
.mt-login form{margin:0;}
.mt-login legend{padding-bottom:20px;}.mt-login legend h1{display:inherit !important;}
.mt-login .mt-login-input input{width:407px;}
.mt-login .mt-pad{margin:20px 0;}
@media only screen and (max-width:479px){.mt-login{position:relative;top:10%;left:inherit;margin:20px 0 0 0;width:auto;}.mt-login legend h1{display:none !important;} .mt-login .mt-login-input input{width:100%;}}.store-edit .control-group{width:50%;}.store-edit .control-group:first-child{width:100%;}
.store-edit .control-group input{width:96%;}
.store-edit .control-group #store_name{width:98%;}
.accordion-group{margin-bottom:-1px;border-radius:0px;}.accordion-group.accordion-add-new{border-width:3px;border-style:dashed;cursor:pointer;}.accordion-group.accordion-add-new:hover,.accordion-group.accordion-add-new:focus{border-color:#f64135;}
.accordion-group.accordion-add-new .btn-faded:hover,.accordion-group.accordion-add-new .btn-faded:focus{cursor:pointer;}
.accordion-group.accordion-add-new .accordion-inner .version-info{color:#e5e5e5;}
.accordion-group.accordion-add-new .accordion-inner .panel h5{color:#e5e5e5;}
.accordion-group.accordion-add-new .accordion-inner .panel.deployment h5 span.version{color:#e5e5e5;}
.accordion-group.accordion-add-new .accordion-inner .btn-add-store{position:absolute;width:220px;height:30px;top:25px;left:50%;margin-left:-132px;font-size:20px;padding:8px 20px 2px 20px;}.accordion-group.accordion-add-new .accordion-inner .btn-add-store [class^="icon-"],.accordion-group.accordion-add-new .accordion-inner .btn-add-store [class*=" icon-"]{margin-top:5px;}
.accordion-group.accordion-add-new .accordion-inner .btn-add-store:hover{background-position:0 -50px;}
.accordion-group.accordion-add-new .accordion-inner .btn-select-plan-to-add{position:absolute;width:325px;height:30px;top:25px;left:50%;margin-left:-177px;font-size:20px;padding:8px 20px 2px 20px;}.accordion-group.accordion-add-new .accordion-inner .btn-select-plan-to-add [class^="icon-"],.accordion-group.accordion-add-new .accordion-inner .btn-select-plan-to-add [class*=" icon-"]{margin-top:5px;}
.accordion-group.accordion-add-new .accordion-inner .btn-select-plan-to-add:hover{background-position:0 -50px;}
.accordion-group .accordion-heading{height:60px;font-size:18px;}.accordion-group .accordion-heading.active-accordion-header{background:#f7f7f7;}
.accordion-group .accordion-heading .tab-stripe-active{background:#e5e5e5;}
.accordion-group .accordion-heading .accordion-toggle{height:30px;padding:15px;color:#6d6d6d;outline:0;text-decoration:none;}
.accordion-group .accordion-heading .accordion-toggle .right-content{margin-left:0px;}.accordion-group .accordion-heading .accordion-toggle .right-content .btn{margin-left:6px;}
.accordion-group .accordion-heading .accordion-toggle .arrow{text-align:center;}.accordion-group .accordion-heading .accordion-toggle .arrow i{margin-top:8px;}
.accordion-group .accordion-heading .accordion-toggle .title{margin-top:5px;display:block;width:100%;white-space:nowrap;text-overflow:ellipsis;font-family:"pragmatica-web-condensed",Helvetica,Arial,sans-serif;font-weight:300;font-size:19px;}.accordion-group .accordion-heading .accordion-toggle .title:hover{text-decoration:underline;}
.accordion-group .accordion-heading .accordion-toggle .pending{clear:right;color:#f64135;font-size:11px;text-transform:none;}
.accordion-group .accordion-heading .accordion-toggle .in-use .popover{font-size:14px;}
.accordion-group .accordion-inner{border-top:none;}.accordion-group .accordion-inner .version-info{margin:6px 0 12px 0;padding-bottom:12px;border-bottom:1px solid #e5e5e5;}.accordion-group .accordion-inner .version-info .first{margin-left:0;}
.accordion-group .accordion-inner .panel h5{color:#34aae5;}
.accordion-group .accordion-inner .panel .table{margin-bottom:0px;}
.accordion-group .accordion-inner .panel.details{border-right:1px solid #ddd;}.accordion-group .accordion-inner .panel.details table{font-size:12px;}
.accordion-group .accordion-inner .panel.deployment{border-right:1px solid #ddd;}.accordion-group .accordion-inner .panel.deployment h5 span.version{float:right;margin-right:10px;font-size:11px;font-weight:normal;color:#666666;}
.accordion-group .mt_store{background:#fff;}
.isotope-item{z-index:2;}
.isotope-hidden.isotope-item{pointer-events:none;z-index:1;}
.isotope,.isotope .isotope-item{-webkit-transition-duration:0.8s;-moz-transition-duration:0.8s;-ms-transition-duration:0.8s;-o-transition-duration:0.8s;transition-duration:0.8s;}
.isotope{-webkit-transition-property:height, width;-moz-transition-property:height, width;-ms-transition-property:height, width;-o-transition-property:height, width;transition-property:height, width;}
.isotope .isotope-item{-webkit-transition-property:-webkit-transform,opacity;-moz-transition-property:-moz-transform,opacity;-ms-transition-property:-ms-transform,opacity;-o-transition-property:-o-transform,opacity;transition-property:transform, opacity;}
.isotope.no-transition,.isotope.no-transition .isotope-item,.isotope .isotope-item.no-transition{-webkit-transition-duration:0s;-moz-transition-duration:0s;-ms-transition-duration:0s;-o-transition-duration:0s;transition-duration:0s;}
.isotope.infinite-scrolling{-webkit-transition:none;-moz-transition:none;-ms-transition:none;-o-transition:none;transition:none;}
html,body{height:100%;}
#container{margin-bottom:20px;}
#extensions{-webkit-box-shadow:0 8px 6px -6px #888888;-moz-box-shadow:0 8px 6px -6px #888888;box-shadow:0 8px 6px -6px #888888;border:1px solid #e5e5e5;}#extensions .mt_filters{padding:10px 25px;}#extensions .mt_filters .option-center{margin-left:90px;}
#extensions .extensions_well{padding:10px 19px;}
.element{width:135px;height:112px;margin:5px;float:left;overflow:hidden;position:relative;background:#ffffff;color:#222;border:1px solid #ddd;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}.element .hover_inner_shadow{position:absolute;right:0;width:100%;height:100%;z-index:9999;}.element .hover_inner_shadow:hover{background:-moz-linear-gradient(top, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.04) 38%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.02)), color-stop(38%, rgba(0, 0, 0, 0.04)), color-stop(50%, rgba(0, 0, 0, 0.03)), color-stop(100%, rgba(0, 0, 0, 0)));background:-webkit-linear-gradient(top, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.04) 38%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0) 100%);background:-o-linear-gradient(top, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.04) 38%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0) 100%);background:-ms-linear-gradient(top, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.04) 38%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0) 100%);background:linear-gradient(to bottom, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.04) 38%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0) 100%);}
.element .ribbon{position:absolute;right:0;z-index:9999;}
.element .info .info-main{height:50px;}
.element.premium{width:285px;background:#fff;}.element.premium .wrapper .info{color:#f64135;}.element.premium .wrapper .info .author{margin:0 0 0 0;}
.element.premium .wrapper .info .extension-price{font-size:12px;font-weight:bold;color:#000;}
.element.premium .wrapper .info .extension-version{font-size:11px;}
.element.premium .wrapper div.icon{max-width:84px;max-height:112px;}
.element.free .wrapper{text-align:center;margin:0 auto;}.element.free .wrapper div.icon{padding:12px 0;}.element.free .wrapper div.icon.small{display:block;}
.element.free .wrapper div.icon.big{display:none;}
.element.free .wrapper div.icon img{max-width:28px;max-height:38px;}
.element.free .wrapper .info{color:#6d6d6d;}.element.free .wrapper .info h5{padding:0 8px;word-wrap:break-word;margin:0;font-size:13px;line-height:16px;}
.element.free .wrapper .info p{font-size:11px;}.element.free .wrapper .info p.extension-version{font-size:11px;display:none;}
.element.premium .wrapper,.element.large .wrapper{margin-top:0;text-align:left;}.element.premium .wrapper div.icon,.element.large .wrapper div.icon{float:left;min-width:84px;min-height:112px;text-align:center;margin-top:24px;}.element.premium .wrapper div.icon.small,.element.large .wrapper div.icon.small{display:none;}
.element.premium .wrapper div.icon.big,.element.large .wrapper div.icon.big{display:block;margin-top:0;padding-top:0;}.element.premium .wrapper div.icon.big img,.element.large .wrapper div.icon.big img{max-width:84px;max-height:112px;}
.element.premium .wrapper div.icon img,.element.large .wrapper div.icon img{position:relative;}
.element.premium .wrapper .info,.element.large .wrapper .info{float:left;width:170px;margin-left:12px;text-align:left;}.element.premium .wrapper .info h5,.element.large .wrapper .info h5{padding:0 8px 0 0;margin:34px 0 0 0;font-size:15px;line-height:16px;}
.element.premium .wrapper .info p,.element.large .wrapper .info p{font-size:12px;color:#6d6d6d;}.element.premium .wrapper .info p.extension-version,.element.large .wrapper .info p.extension-version{display:inherit;}
.element.premium .wrapper .info .author,.element.large .wrapper .info .author{margin:0 0 0 0;}
.element.premium .wrapper .info .extension-price,.element.large .wrapper .info .extension-price{font-size:12px;font-weight:bold;color:#000;}
.element.large{-webkit-box-shadow:0 8px 6px -6px #888888;-moz-box-shadow:0 8px 6px -6px #888888;box-shadow:0 8px 6px -6px #888888;}
.element .extras{position:absolute;bottom:0;height:110px;font-size:12px;color:#6d6d6d;margin:0 20px;}.element .extras .description{height:62px;line-height:15px;min-width:245px;overflow:hidden;}
.element .extras .btn-mini{border-radius:12px 12px 12px 12px;font-size:11px;padding:1px 12px;}
.element .extras .progress{margin:8px 10px 0 8px;}
.element.large,.variable-sizes .element.large,.variable-sizes .element.large.width2.height2{font-size:3.0em;width:285px;height:236px;z-index:100;}
.clickable .element:hover{cursor:pointer;}
.clickable .element:hover h3{text-shadow:0 0 10px white, 0 0 10px white ;}
.clickable .element:hover h2{color:white;}
body.index{background-color:#f1f1f1;}body.index .content{text-align:center;}body.index .content h1,body.index .content h2,body.index .content h3,body.index .content h4{font-family:"pragmatica-web",Helvetica,Arial,sans-serif;color:#19333a;}
body.index .content h1{margin-bottom:0;font-size:31.5px;font-weight:700;letter-spacing:-1px;}
body.index .content h2{margin:0 auto;font-family:"pragmatica-web",Helvetica,Arial,sans-serif;font-size:21.5px;font-weight:300;}
body.index .content img.cubes{z-index:-1;margin-top:0px;width:85%;}
body.index .content a.btn-tour,body.index .content div.inner a.btn-tour{margin-top:-24px;-webkit-box-shadow:0 6px 6px -6px #888888;-moz-box-shadow:0 6px 6px -6px #888888;box-shadow:0 6px 6px -6px #888888;}
body.index .content div.inner{margin-top:-30px;background-color:#ffffff;border:1px solid #e5e5e5;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 6px 6px -6px #888888;-moz-box-shadow:0 6px 6px -6px #888888;box-shadow:0 6px 6px -6px #888888;}body.index .content div.inner section{background:#ffffff;background:-moz-linear-gradient(top, #ffffff 0%, #f3f8fc 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f3f8fc));background:-webkit-linear-gradient(top, #ffffff 0%, #f3f8fc 100%);background:-o-linear-gradient(top, #ffffff 0%, #f3f8fc 100%);background:-ms-linear-gradient(top, #ffffff 0%, #f3f8fc 100%);background:linear-gradient(to bottom, #ffffff 0%, #f3f8fc 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f3f8fc', GradientType=0);box-shadow:0 -6px 12px -10px #888888;padding:40px 0 0 0;}body.index .content div.inner section h3{font-weight:700;color:#f64135;}body.index .content div.inner section h3:first-of-type{margin:100px 0 0;}
body.index .content div.inner section h4{font-size:22.5px;font-weight:700;margin:0;}
body.index .content div.inner section p{width:320px;}
body.index .content div.inner section ul.thumbs{margin:0 20px 0 -10px;padding:0 width: 320px;list-style:none;}body.index .content div.inner section ul.thumbs li{float:left;margin-right:6px;}body.index .content div.inner section ul.thumbs li img{margin:0;padding:0;}
body.index .content div.inner section div.pull-left h3,body.index .content div.inner section div.pull-left h4,body.index .content div.inner section div.pull-left p{margin-left:100px;text-align:left;}
body.index .content div.inner section div.pull-left p{float:left;}
body.index .content div.inner section div.pull-right h3,body.index .content div.inner section div.pull-right h4,body.index .content div.inner section div.pull-right p{text-align:left;}
body.index .content div.inner section.watch-video{box-shadow:none;background:#ffffff url('../img/watch-video-back.jpg') no-repeat top right;}body.index .content div.inner section.watch-video .headings{margin-left:0;margin-right:60px;}
body.index .content div.inner section.watch-video h3{font-size:22.5px;}
body.index .content div.inner section.watch-video h4{font-size:18.5px;}
body.index .content div.inner section.watch-video div.mac-book-air{margin-left:10px;}body.index .content div.inner section.watch-video div.mac-book-air .js-video iframe{height:248px;left:108px;top:50px;width:395px;}
body.index .content div.inner section.simple{padding-top:60px;}body.index .content div.inner section.simple h3:first-of-type{margin-top:0px;}
body.index .content div.inner section.safe h3:first-of-type{margin-top:40px;}
body.index .content div.inner section.safe img{margin-top:50px;margin-bottom:80px;}
body.index .content div.inner section.safe ul.thumbs li img:last-of-type{margin-bottom:60px;}
body.index .content div.inner section.flexible h3:first-of-type{margin-top:70px;}
body.index .content div.inner section.flexible p{width:340px;}
body.index .content div.inner section.flexible img{margin-top:40px;margin-bottom:80px;margin-right:70px;}
body.index .content div.inner section.flexible ul.thumbs{margin-left:90px;}body.index .content div.inner section.flexible ul.thumbs li img:last-of-type{margin-bottom:60px;}
body.index .content div.inner section.extensions{padding-top:90px;}body.index .content div.inner section.extensions h3:first-of-type{margin-top:0px;}
body.index footer hr{border:0;padding-top:1px;}
@media only screen and (min-width:980px){#screenshots .modal{width:960px;margin-left:-480px;}}@media only screen and (max-width:979px){.logo{margin:20px 0;} .navbar-global .navbar-inner .nav.nav-mainmenu{background-color:#f64135;}.navbar-global .navbar-inner .nav.nav-mainmenu li.open{background-color:#34aae5;}.navbar-global .navbar-inner .nav.nav-mainmenu li.open .dropdown-menu{margin-right:15px;} .navbar-global .navbar-inner .nav>li>a{border-right:0;} .navbar-global .navbar-inner .nav>.first>a,.navbar-global .navbar-inner .nav>.first>a:hover,.navbar-global .navbar-inner .nav>.first>a:focus{-webkit-border-bottom-left-radius:0;-moz-border-radius-bottomleft:0;border-bottom-left-radius:0;} .navbar-global .navbar-inner .nav>.last>a,.navbar-global .navbar-inner .nav>.last>a:hover,.navbar-global .navbar-inner .nav>.last>a:focus{-webkit-border-bottom-right-radius:0;-moz-border-radius-bottomright:0;border-bottom-right-radius:0;} .navbar-global .navbar-inner .nav.nav-subpages{bottom:0;padding:12px 0 24px 0;}.navbar-global .navbar-inner .nav.nav-subpages>li{float:left;}.navbar-global .navbar-inner .nav.nav-subpages>li>a{margin-left:0;margin-right:24px;} .navbar-global .navbar-inner .nav.nav-subpages>li:last-of-type>a{margin-right:0;} .navbar-global .btn{margin-top:33px;} .navbar-global .btn-navbar{background-color:#f64135;background-image:none;border-color:#d51609;}.navbar-global .btn-navbar:hover{background-color:#34aae5;border-color:#1781b5;} body.index .content div.inner section.watch-video div.mac-book-air .js-video iframe{height:60%;left:18%;top:6%;width:64%;}}@media (min-width:768px) and (max-width:979px){body.index .content div.inner section.watch-video div.mac-book-air .js-video iframe{height:189px;left:83px;top:45px;width:301px;}}@media (max-width:767px){body.index .content div.inner section{padding:10px 0;}body.index .content div.inner section h3,body.index .content div.inner section h4{text-align:center;margin:0;}}@media only screen and (min-device-width:320px) and (max-width:480px){body.index .content div.inner section.watch-video div.mac-book-air .js-video iframe{}}@media only screen and (max-width:348px){.logo{width:71%;} .navbar-global .btn{margin-top:27px;} body.index .mt{margin-top:20px;} body.index .content h1{margin-bottom:20px;font-size:21.5px;line-height:30px;} body.index .content h2{width:100%;font-size:13.5px;line-height:20px;} body.index .content img.cubes{z-index:-1;margin-top:0px;} body.index .content div.inner{margin-top:20px;}}@media only screen and (min-width:349px) and (max-width:481px){body.index .mt{margin-top:20px;} body.index .content h1{margin-bottom:4px;font-size:21.5px;line-height:30px;} body.index .content h2{width:60%;margin-bottom:0;font-size:15.5px;line-height:20px;} body.index .content img.cubes{z-index:-1;margin-top:0px;} body.index .content div.inner{margin-top:20px;}body.index .content div.inner section.watch-video div.mac-book-air .js-video iframe{height:60%;left:18%;top:6%;width:64%;}}

/** LESS - END COMPILED CSS **/


#store-deployment .rollback, #store-deployment .commit, #store-deployment .deploy {
    display: none;
}
#store-deployment.modal-rollback .rollback, #store-deployment.modal-commit .commit, #store-deployment.modal-deploy .deploy {
    display: inline;
}
#store-deployment.modal-rollback .rollback.alert {
    display: block;
    margin-top: 10px;
}
#store-deployment form {
    margin: 0px;
}
#store-deployment textarea {
    width: 97%;
}
#store-deployment label {
    margin-top: 10px;
}
.store-edit .control-group:nth-child(2) {
    width: 100%;
}
.store-edit .control-group #description {
    width: 98%;
}

/** COMPARE PAGE TABLE **/
.compare-table thead th {
	max-width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	vertical-align: bottom;
}
.compare-table th, .compare-table td {
	padding: 8px;
	line-height: 20px;
	vertical-align: top;
}
th.compare-table-title-row {
	width: 283px;
	height: 150px;
	background: none;
	padding: 0;
}
.compare-table td {
	border-top: 1px solid #e7e7e7;
}
span.compare-table-title {
	display: block;
	width: 233px;
	height: 40px;
	border: 1px solid #e7e7e7;
	border-right: none;
	border-bottom: 5px solid #34aae5;
	border-top-left-radius: 6px;
	padding: 26px 0 0 50px;
	font-size: 24px;
	text-align: left;
}
span.compare-table-empty {
	display: block;
	padding: 0;
	height: 56px;
	border-bottom: 5px solid #34aae5;
	border-top: 1px solid #e7e7e7;
}
th.compare-table-empty-first:last-child span.compare-table-empty {
	border-right: 1px solid #e7e7e7;
	border-top-right-radius: 6px
}
th.compare-table-empty-first {
	padding: 0;
}

th.compare-table-data-name {
    display: inline-block;
    width: 270px;
    height: 140px;
    padding: 7px 0 8px 0;
    background: #34aae5;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-top-style: none;
    border-top: none;
    color: #fff;
}
.compare-table-data-name h3 span, .compare-table-data-name h2 span, .compare-table-data-name h4 span {
	text-shadow: 1px 1px 1px #353535;
}
.compare-table-data-name h3 span {
	font-family: "pragmatica-web",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 700;
	font-size: 24px;
	display: block;
	width: 268px;
	text-align: center;
}
.compare-table-data-name h2 {
	font-family: "pragmatica-web",Helvetica,Arial,sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 56px;
	width: 100%;
	text-align: center;
	display: block;
	margin-top: 10px;
}
.compare-table-data-name h4 {
	font-family: "pragmatica-web",Helvetica,Arial,sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	width: 100%;
	text-align: center;
	display: block;
	margin-top: 10px;
}
td.compare-table-row-title {
	color: #ffffff;
}
tr.compare-table-row-title {
	background: #13272e;
}
.compare-table tbody tr.compare-table-row-title-empty {
	background: none;
	border: none;
}
td.compare-table-empty {
	background: #13272e;
}
td.compare-table-row-title {
	padding: 18px 0;
	padding-left: 20px;
	font-size: 15px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #353535;
	border-top: 1px solid #5c6a6d;
}

td.compare-table-row-title .popover .popover-title,
td.compare-table-row-title .popover .popover-content {
	color: #000000;
	text-shadow: none;
	font-size: 14px;
	font-weight: normal;
}

td.compare-table-row-title i.icon {
	margin-right: 12px;
}
td.compare-table-empty {
	border-top: 1px solid #5c6a6d;
	min-width: 40px;
}
td.compare-table-data {
	width: 268px;
	padding: 0 ;
	vertical-align: middle;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	background: #fff;
	border-right: 1px solid #e7e7e7;
}
td.compare-table-row-title-last {
	padding-right: 32px;
	display: inline-block;
	border-bottom-left-radius: 6px ;
	width: 232px;
	background: #13272e;
	border: none;
	border-top: 1px solid #5c6a6d;
	-webkit-box-shadow: 5px 8px 6px -6px #888888;
	-moz-box-shadow: 5px 8px 6px -6px #888888;
	box-shadow: 5px 8px 6px -6px #888888;

}
tr.compare-table-row-title-last {
	background: none;
	border: none;
}
tr.compare-table-row-title-last td.compare-table-empty {
	display: inline-block;
	height: 40px;
	width: 42px;
	-webkit-box-shadow: 0 2px 6px 0px #888888;
	-moz-box-shadow: 0 2px 6px 0px #888888;
	box-shadow: 0 2px 6px 0px #888888;
}
tr.compare-table-row-title-last td.compare-table-empty:last-child {
	border-bottom-right-radius: 6px;
}
td.compare-table-price-empty {
	border-top: none;
}
td.compare-table-price-button {
	height: 69px;
	display: inline-block;
	width: 268px;
	padding: 0 ;
	padding-top: 24px ;
	vertical-align: middle ;
	border: 1px solid #e7e7e7;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	color: #fff;
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	-webkit-box-shadow: 0 8px 6px -6px #888888;
	-moz-box-shadow: 0 8px 6px -6px #888888;
	box-shadow: 0 8px 6px -6px #888888;
}

div.in-all-plans {
	margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;
}
div.in-all-plans h4 {
}
div.in-all-plans h4 span {
	background-color: #fff;
	padding: 0 20px;
}
div.in-all-plans ul {
	border-top: 1px solid #e7e7e7;
    list-style: none;

}
div.in-all-plans ul li {
    float: left;
    width: 210px;
    margin: 20px 0 0 73px;
    text-align: left;
}
/** Stores Border Radious **/
div.accordion div.accordion-group:last-child{
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
div.accordion div.accordion-group:last-child div.accordion-heading div.tab-stripe{
	border-bottom-left-radius: 6px;
}
div.accordion div.accordion-group.mt_shadow:last-child div.accordion-heading div.tab-stripe{
	border-bottom-left-radius: 0;
}
div.accordion div.accordion-group:first-child{
	border-top-left-radius: 6px !important;
	border-top-right-radius: 6px !important;
}
div.accordion div.accordion-group:first-child div.accordion-heading div.tab-stripe{
	border-top-left-radius: 6px;
}

/* Edit Account */
div.form-box div.box {
	margin-top: 10px;
	margin-bottom: 20px;
	border: 1px solid
	#e5e5e5;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 8px 6px -6px #888888;
	-moz-box-shadow: 0 8px 6px -6px #888888;
	box-shadow: 0 8px 6px -6px #888888;
}
div.form-box div.box legend {
    display: block;
    float: left;
	padding: 10px 0;
	border: 0;
}
div.form-box fieldset {
    padding: 0 20px 20px 20px;
    margin: 0;
    border-top: 1px solid #e5e5e5;
}

div.form-box div.box fieldset:first-of-type {
    border-top: none;
}
div.form-box div.box fieldset:first-of-type.force-fieldset-style {
    border-top: 1px solid #e5e5e5;
}

div.form-box div.tab-stripe:first-of-type {
    border-top-left-radius: 6px;
}
div.form-box div.tab-stripe.tab-stripe-outside {
    border-top-left-radius: 0;
}
div.form-box div.form-actions {
    padding: 20px 20px 0 20px;
}
form#payment-form fieldset h3{
    margin-top: 0;
}
#wrap {
    min-height: 100%;
}

#main {
    //overflow: auto;
    padding-bottom: 60px;
}

#footer {
    position: relative;
    margin-top: -80px;
    height: 80px;
    clear: both;
}

.errors {
    color: #B94A48;
}

#popover-error-dashboard {
    display: block;
    min-height: 12px;
}

/*Opera Fix*/
body:before {
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;
}

/* PAYMENT DETAIL PAGE - EXTANSION */
#ext-m {
    width: 100%;
    clear: both;
    height: 100%;
    overflow: hidden;
}
#ext-l {
    width: 20%;
    height: 100%;
    float: left;
    margin-left: 1%;
}
#ext-r {
    width: 75%;
    padding: 0 0 0 15px;
    float: left;
    height: 100%;
}

h4.ext-price{
    color: #34aae5;
}