RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^instance - [L]
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]

RewriteRule       ^images.*$      - [L]
RewriteRule       ^img.*$         - [L]
RewriteRule       ^js.*$          - [L]
RewriteRule !\.(js|ico|gif|jpg|png|css|pdf|doc|xls|csv|txt)$ index.php

