@import "variables";
@import "mixins";

div.navbar {
    div.red-bar, a.btn.btn-navbar, div.nav-collapse {
        display: none;
    }
    div.navbar-inner {
        box-shadow: none;
        border: 0;
        background-color: #fff;
        background-image: none;
        
        a:after {
            color: #fff;
            content: "";
        }
                
        .logo {
            margin: 40px;
        }
    }
}

div.invoice {
	padding: 40px;
    
    h1 {
        font-family: @TypeKitCondensed;
        font-style: normal;
        font-weight: 700;
        margin-bottom: 40px;
        font-size: 28px;
    }
    
    h5 {
        font-family: @TypeKitCondensed;
        font-style: normal;
        font-weight: 700;
        margin: 0;
    }
    
    fieldset {
        margin: 40px 0;
    }
    
    .invoice-addresses {
        margin: 40px 0;
        
        .invoice-address-billto {
            margin-left: 0;
        }
    }
    
    /*font-family: @MainFamily;
    font-size: 12px;
    
    h1, h5, legend {
        font-family: @TypeKitCondensed;
        font-style: normal;
        font-weight: 700;
        margin: 0;
        padding: 0;
    }
    
    h1 {
        font-size: 21px;
    }
    
    legend {
        font-weight: 300;
    }
    
    fieldset {
        border: 0;
    }
    
    .invoice-details {
        .invoice-info {
            position: absolute;
            top: 140px;
        }
        
        .invoice-info-minor {
            position: absolute;
        	width: 200px;
            top: 140px;
            right: 0px;
        }
    }
    
    .invoice-purchase {
        
    }*/
}
