html, body {
    height: 100%;
    font-family: @MainFamily;
}

.form-actions {
	background-color: #fff;
}

.logo {
    margin: 20px 0 0 0;
}

.red-bar {
    height: 5px;
    background: @Red;
}

.navbar-global {
    .defaultMainMenuAnchor(@Background: @Red){
        background-color: @Background;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5) inset;
        color: #fff;
        text-decoration: none;
    }
    
    .shadow;
    
    .navbar-inner {
        box-shadow: none;
        background-color: #fff;
        background-image: none;
        border-bottom: 1px solid @Grey;
    
        .nav {
        	& > li > a {
                padding: 4px 15px;
                background: @Red;
                color: #fff;
                text-shadow: none;
                border-right: 1px solid #fff;
                outline: 0;
                
                &:hover, &:focus {
                    .defaultMainMenuAnchor(@Blue);
                }
            }
            
            & > .active > a {
                .defaultMainMenuAnchor;
                
                &:hover, &:focus {
                    .defaultMainMenuAnchor(@Blue);
                }
            }
                    
            & > .first > a,
            & > .first > a:hover, 
            & > .first > a:focus {
                -webkit-border-bottom-left-radius: 6px;
                -moz-border-radius-bottomleft: 6px;
                border-bottom-left-radius: 6px;
            }
            
            & > .last > a,
            & > .last > a:hover, 
            & > .last > a:focus {
                -webkit-border-bottom-right-radius: 6px;
                -moz-border-radius-bottomright: 6px;
                border-bottom-right-radius: 6px;
            }
        	
        	&.nav-subpages {
        		position: relative;
                bottom: 23px;
                
                .defaultSubmenuAnchor(@Border: @DarkGrey){
                    background: none;
                    box-shadow: none;
                    color: #444;
                    border-bottom: 1px dotted @Border;
                    outline: 0;
                }
                
                & > li {
                    & > a {
                    	font-family: @TypeKitCondensed;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 18px;
                        text-transform: uppercase;
                        padding: 0;
                        margin-left: 20px;
                        text-shadow: none;
                        
                        .defaultSubmenuAnchor(#fff);
                        
                        &:hover, &:focus {
                            .defaultSubmenuAnchor;
                        }
                    }
                }
                
                & > .active {
                    & > a, & > a:hover, & > a:focus {
                    	.defaultSubmenuAnchor;
                    }
                }
                
            }
        }
    }
    
    .dropdown {
        &.dropdown-mainmenu {
            .caret-white {
                border-top: 4px solid #ffffff;
            }
        }
    }
    
    .pull-right > li > .dropdown-menu {
        background: @Blue;
        margin-right: 94px;
        margin-top: 0;
        -webkit-border-top-left-radius: 0;
        -webkit-border-top-right-radius: 0;
        -moz-border-radius-topleft: 0;
        -moz-border-radius-topright: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border: 0;
        
        a {
            color: white;
        }
    }
    .nav > li > .dropdown-menu:after {
        border-bottom: 0;
    }
}

h1 {
    font-family: @TypeKitCondensed;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
}

h4, legend {
    font-family: @TypeKitCondensed;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
}

fieldset.margins {
    margin: 20px 0 60px 0;
    
    &.margins-small {
        margin: 20px 0 30px 0;
    }
    
    &.margins-first {
        margin: 60px 0 30px 0;
        
        &.margin-small {
            margin: 40px 0 20px 0;
        }
    }
}

.row {
    &.row-large {
        margin-top: 20px;
    }
}

.control-label {
    &.required {
        &:after {
            content: '*';
        }
    }
}

.input-radio {
    .input-radio-button {
        input {
            margin-top: 42px;
        }
    }
}

.mt {
    margin-top: 40px;
}

.mt_shadow {
    .shadow;
}

.tab-stripe {
    float: left;
    min-height: @ElementSize;
    min-width: @ElementPad;
    background: @Blue;
}

.edit-account .btn-primary {
    margin-left: 5px;
}
.secondary {
    line-height: 28px;
    margin-right: 5px;
}
.form-register .btn-primary {
    margin-left: 5px;
}

.media-heading {
    font-family: @TypeKit;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
}

*[rel="popover"] {
    cursor: pointer;
}

/* CUSTOM BUTTONS */
.btn-mini .icon {
    margin-top: 0px;
}
.btn-minimini {
    padding: 0px 4px;
}
.btn-red {
    .customButton(@Red);
}
.btn-blue {
    .customButton(@Blue);
}
.btn-gold {
  color: #333333;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	background-color: #e5c200;
	*background-color: #e5c200;
	background-image: -moz-linear-gradient(top, #f1cc00, #e5c200);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e5c200), to(#e5c200));
	background-image: -webkit-linear-gradient(top, #f1cc00, #e5c200);
	background-image: -o-linear-gradient(top, #f1cc00, #e5c200);
	background-image: linear-gradient(to bottom, #f1cc00, #e5c200);
	background-repeat: repeat-x;
	border-color: #f1cc00 #e5c200 #1f6377;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#61bdeb', endColorstr='#34aae5', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-gold:hover,
.btn-gold:active,
.btn-gold.active,
.btn-gold.disabled,
.btn-gold[disabled] {
	color: #333333;
	background-color: #e5c200;
	*background-color:#e5c200;
}

.btn-deploy {
    width: 25%;
}

/* CUSTOM BADGES */
.badge-red {
    .customBadge(@Red);
}
.badge-blue {
    .customBadge(@Blue);
}

/* CUSTOM ALERTS */
.alert-red {
    .customAlert(@Red);
}
.alert-blue {
    .customAlert(@Blue);
}
.alert-blank {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    color: #000;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fff;
    border: 1px solid #fff;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;

    h4 {
        margin: 0;
    }
    
    .close {
        position: relative;
        top: -2px;
        right: -21px;
        line-height: 20px;
    }
}

.input-radio {
    .input-radio-alert {
        input {
            width: 511px;
        }
        
        &.alert-info {
            input {
                width: 100%;
            }
        }
    }
}

.accordion-group {
    .accordion-heading {
        .accordion-toggle {
            outline: 0;
        }
    }
}

.remove-typekit > * {
    font-family: @MainFamily;
}

footer {
    a {
        color: @Red;
    }
}
