html, body {
	height: 100%;
	font-family: @MainFamily;
}

.logo {
	margin: 20px 0;
}

.red-bar {
	height: 5px;
	background: @Red;
}

.navbar-global {
	.shadow;
	border-bottom: 1px solid @Grey;
	
	.nav > li > a {
		padding: 4px 15px;
		background: @Red;
		color: #fff;
		text-shadow: none;
		border-right: 1px solid #fff;
		outline: 0;
	}
	
	.nav > .active > a {
	    background-color: @Red;
		box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5) inset;
	    color: #fff;
	    text-decoration: none;
	}
	
	.nav > .active > a:hover,
	.nav > .active > a:focus,
	.nav > li > a:hover,
	.nav > li > a:focus {
	    background-color: @Blue;
	    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5) inset;
	    color: #fff;
	    text-decoration: none;
	    outline: 0;
	}
	
	.nav > .first > a,
	.nav > .first > a:hover, 
	.nav > .first > a:focus {
	    -webkit-border-bottom-left-radius: 6px;
		-moz-border-radius-bottomleft: 6px;
		border-bottom-left-radius: 6px;
	}
	
	.nav > .last > a,
	.nav > .last > a:hover, 
	.nav > .last > a:focus {
	    -webkit-border-bottom-right-radius: 6px;
		-moz-border-radius-bottomright: 6px;
		border-bottom-right-radius: 6px;
	}
	
	.dropdown {
		&.dropdown-mainmenu {
			.caret-white {
				border-top: 4px solid #ffffff;
			}
		}
	}
	
	.pull-right > li > .dropdown-menu {
		background: @Blue;
	    margin-right: 94px;
	    margin-top: 0;
	    -webkit-border-top-left-radius: 0;
	    -webkit-border-top-right-radius: 0;
		-moz-border-radius-topleft: 0;
		-moz-border-radius-topright: 0;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border: 0;
		
		a {
			color: white;
		}
	}
	.nav > li > .dropdown-menu:after {
    	border-bottom: 0;
	}
}

h1 {
	font-size: 28px;
	font-weight: 300;
}

.mt {
	margin-top: 40px;
}

.mt_shadow {
	.shadow;
}

.tab-stripe {
	float: left;
	min-height: @ElementSize;
	min-width: @ElementPad;
	background: @Blue;
}

.edit-account .btn-primary {
    margin-left: 5px;
}
.secondary {
    line-height: 28px;
    margin-right: 5px;
}
.form-register .btn-primary {
    margin-left: 5px;
}

/* CUSTOM BUTTONS */
.btn-mini .icon {
	margin-top: 0px;
}
.btn-minimini {
	padding: 0px 4px;
}
.btn-red {
	.customButton(@Red);
}
.btn-blue {
	.customButton(@Blue);
}
.btn-deploy {
	width: 25%;
}

/* CUSTOM BADGES */
.badge-red {
	.customBadge(@Red);
}
.badge-blue {
	.customBadge(@Blue);
}

/* CUSTOM ALERTS */
.alert-red {
	.customAlert(@Red);
}
.alert-blue {
	.customAlert(@Blue);
}

.accordion-group {
	.accordion-heading {
		.accordion-toggle {
			outline: 0;
		}
	}
}

footer {
	position: relative;
	bottom: 0;

	a {
		color: @Red;
	}
}
