/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}

/**** Isotope styles ****/

/* required for containers to inherit vertical size from window */
html,
body {
  height: 100%;
}

.well.extensions_well {
	background: #eee;
	border: 1px solid #E3E3E3;
    border-radius: none;
    box-shadow: none;
}

#container {
  margin-bottom: 20px;
}

@ElementPad		: 5px;
@ElementWidth	: 135px;
@ElementHeight	: 112px;

.element {

	width: @ElementWidth;
	height: @ElementHeight;
	margin: @ElementPad;
	float: left;
	overflow: hidden;
	position: relative;
	background: #f7f7f7;
	color: #222;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
	
	.ribbon {
		position: absolute;
		right: 0;
		z-index: 9999;
	}
	
	&.premium {
		width: (@ElementWidth * 2) + (@ElementPad * 3);
		background: #fff;
		
		.wrapper {
			.info {
				color: @Red;
			}
			div.icon {
				max-width: 84px;
				max-height: 112px;
			}
		}
	}
	
	&.free {
		.wrapper {
			text-align: center;
			margin: 0 auto;
			
			div.icon {
				padding: 12px 0;
				
				img {
					max-width: 28px;
					max-height: 38px;
				}
			}
			
			.info {
				color: #6d6d6d;
				
				h5 {
					padding: 0 8px;
				    word-wrap: break-word;
					margin: 0;
					font-size: 13px;
					line-height: 16px;
				}
				
				p {
					font-size: 11px;
				}
			}
		}
	}
	
	&.premium, &.large {
		.wrapper {
			margin-top: 0;
			text-align: left;
			
			div.icon {
				float: left;
				min-width: 84px;
				min-height: @ElementHeight;
				text-align: center;
				margin-top: 24px;
				
				img {
    				position: relative;
				}
			}
			
			.info {
				float: left;
				width: (@ElementWidth * 2) - 100;
				margin-left: 12px;
				text-align: left;
				
				h5 {
					padding: 0 8px 0 0;
					margin: 34px 0 0 0;
					font-size: 14px;
					line-height: 16px;
				}
				
				p {
					font-size: 12px;
					color: #6d6d6d;
				}
			}
		}
	}
	
	&.large {
		.shadow;
	}
	
	.extras {
		position: absolute;
		bottom: 0;
		height: 110px;
		font-size: 12px;
		color: #6d6d6d;
		margin: 0 20px;
		
		.description {
		    height: 62px;
		    line-height: 15px;
		    min-width: 245px;
		    overflow: hidden;
		}
		
		.btn-mini {
		    border-radius: 12px 12px 12px 12px;
		    font-size: 11px;
		    padding: 1px 12px;
		}
		
		.progress {
			margin: 8px 10px 0 8px;
		}
	}
	
}

.element.large,
.variable-sizes .element.large,
.variable-sizes .element.large.width2.height2 {
  font-size: 3.0em;
  width: 285px;
  height: 236px;
  z-index: 100;
}

.clickable .element:hover {
  cursor: pointer;
}

.clickable .element:hover h3 {
  text-shadow:
    0 0 10px white,
    0 0 10px white
  ;
}

.clickable .element:hover h2 {
  color: white;
}