body {
    &.index {
        background-color: #f1f1f1;

        .content {
            text-align: center;

            h1, h2, h3, h4 {
                font-family: @TypeKit;
                color: @DarkFont;
            }

            h1 {
                margin-bottom: 0;
                font-size: 31.5px;
                font-weight: 700;
                letter-spacing: -1px;
                color: @Red;
            }

            h2 {
                margin: 0 auto;
                font-family: @TypeKit;
                font-size: 21.5px;
                font-weight: 300;
            }

            img.cubes {
                z-index: -1;
                margin-top: 0px;
                width: 85%;
            }

            a.btn-tour, div.inner a.btn-tour {
                margin-top: -24px;
                .shadow(6px);
            }

            div.inner {
                margin-top: 10px;
                margin-bottom: 30px;
                .roundedBox;
                .shadow(6px);

                section {
                	background: #ffffff; /* Old browsers */
                    background: -moz-linear-gradient(top,  #ffffff 0%, #f3f8fc 100%); /* FF3.6+ */
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f3f8fc)); /* Chrome,Safari4+ */
                    background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f8fc 100%); /* Chrome10+,Safari5.1+ */
                    background: -o-linear-gradient(top,  #ffffff 0%,#f3f8fc 100%); /* Opera 11.10+ */
                    background: -ms-linear-gradient(top,  #ffffff 0%,#f3f8fc 100%); /* IE10+ */
                    background: linear-gradient(to bottom,  #ffffff 0%,#f3f8fc 100%); /* W3C */

                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f8fc',GradientType=0 ); /* IE6-9 */

                    box-shadow: 0 -6px 12px -10px #888;
                    padding: 40px 0 0 0;

                    h3 {
                        font-weight: 700;
                        color: @Red;

                        &:first-of-type {
                          margin: 100px 0 0;
                        }
                    }

                    h4 {
                        font-size: 22.5px;
                        font-weight: 700;
                        margin: 0;
                    }

                    p {
                        width: 320px;
                    }

                    ul.thumbs {
                        margin: 0 20px 0 -10px;
                        padding: 0
                        width: 320px;
                        list-style: none;

                        li {
                            float: left;
                            margin-right: 6px;

                            img {
                                margin: 0;
                                padding: 0;
                            }
                        }
                    }

                    div.pull-left {
                        h3, h4, p {
                        	margin-left: 100px;
                            text-align: left;
                        }
                        p {
                            float: left;
                        }
                    }

                    div.pull-right {
                        h3, h4, p {
                            text-align: left;
                        }
                    }

                    &.watch-video {
                        box-shadow: none;
                        background: #fff url('../img/watch-video-back.jpg') no-repeat top right;

                        .headings {
                            margin-left: 0;
                            margin-right: 60px;
                        }

                        h3 {
                            font-size: 22.5px;
                        }

                        h4 {
                            font-size: 18.5px;
                        }

                        div.mac-book-air {
                            margin-left: 10px;

                            .js-video {
                                iframe {
                                    height: 248px;
                                    left: 108px;
                                    top: 50px;
                                    width: 395px;
                                }
                            }
                        }
                    }

                    &.simple {
                    	padding-top: 60px;

                        h3 {
                            &:first-of-type {
                              margin-top: 0px;
                            }
                        }
                    }

                    &.safe {
                        h3 {
                            &:first-of-type {
                              margin-top: 40px;
                            }
                        }

                        img {
                            margin-top: 50px;
                            margin-bottom: 80px;
                        }

                        ul.thumbs {
                            li {
                                img {
                                    &:last-of-type {
                                        margin-bottom: 60px;
                                    }
                                }
                            }
                        }
                    }

                    &.flexible {
                        h3 {
                            &:first-of-type {
                              margin-top: 70px;
                            }
                        }

                        p {
                            width: 340px;
                        }

                        img {
                            margin-top: 40px;
                        	margin-bottom: 80px;
                            margin-right: 70px;
                        }

                        ul.thumbs {
                        	margin-left: 90px;

                            li {
                                img {
                                    &:last-of-type {
                                        margin-bottom: 60px;
                                    }
                                }
                            }
                        }
                    }

                    &.extensions {
                    	padding-top: 90px;

                        h3 {
                            &:first-of-type {
                              margin-top: 0px;
                            }
                        }
                    }
                }
            }
        }

        footer {
            hr {
                border: 0;
                padding-top: 1px;
            }
        }
    }
}