// Bootstrap default - large screen
@media only screen
and (min-width : 980px){
    #screenshots {
        .modal {
            width: 960px;
            margin-left: -480px;
        }
    }
}

@media only screen
and (max-width : 979px) {

    .logo {
        margin: 20px 0;
    }

    .navbar-global {
        .navbar-inner {
            .nav {
            	&.nav-mainmenu {
            	   background-color: @Red;

            	   li {
            	       &.open {
            	           background-color: @Blue;

            	           .dropdown-menu {
            	               margin-right: 15px;
            	           }
            	       }
            	   }
                }

                & > li > a {
                    border-right: 0;
                }

                & > .first > a,
                & > .first > a:hover,
                & > .first > a:focus {
                    -webkit-border-bottom-left-radius: 0;
                    -moz-border-radius-bottomleft: 0;
                    border-bottom-left-radius: 0;
                }

                & > .last > a,
                & > .last > a:hover,
                & > .last > a:focus {
                    -webkit-border-bottom-right-radius: 0;
                    -moz-border-radius-bottomright: 0;
                    border-bottom-right-radius: 0;
                }

                &.nav-subpages {
                	bottom: 0;
                    padding: 12px 0 24px 0;

                    & > li {
                    	float: left;

                        & > a {
                        	margin-left: 0;
                            margin-right: 24px;
                        }

                        &:last-of-type {
                            & > a {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }

        .btn {
            margin-top: 33px;
        }

        .btn-navbar {
            background-color: @Red;
            background-image: none;
            border-color: darken(@Red, 15%);

            &:hover {
                background-color: @Blue;
                border-color: darken(@Blue, 15%);
            }
        }
    }

    body {
        &.index {
            .content {
                div.inner {
                    section {
                        &.watch-video {
                            div.mac-book-air {
                                .js-video {
                                    iframe {
                                        height: 60%;
                                        left: 18%;
                                        top: 6%;
                                        width: 64%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Bootstrap standard medium screen
@media (min-width: 768px) and (max-width: 979px) {
    body {
        &.index {
            .content {
                div.inner {
                    section {
                        &.watch-video {
                            div.mac-book-air {
                                .js-video {
                                    iframe {
                                        height: 189px;
                                        left: 83px;
                                        top: 45px;
                                        width: 301px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Bootstrap standard small screen
@media (max-width: 767px) {
    
    h1.pull-left {
        float: none;
        text-align: center;
    }
    
    .btn-add-ext {
        text-align: center;
        
        &.pull-right {
            float: none;
        }
    }
    
    #extensions .mt_filters {
        .search-as-you-type {
            width: 100%;
            margin: 10px 0 0;
            
            input.search-as-you-type-input {
                width: 100%;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
    
    body {
        &.index {
            .content {
                div.inner {
                    section {
                        padding: 10px 0;

                        h3, h4 {
                            text-align: center;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-width : 480px) {
  body {
      &.index {
          .content {
              div.inner {
                  section {
                      &.watch-video {
                          div.mac-book-air {
                              .js-video {
                                  iframe {
                                    //top: 40px;
                                      /*height: 142px;
                                      left: 63px;
                                      top: 40px;
                                      width: 227px;*/
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px)
and (max-width : 481px) {
    #extensions .mt_filters {
        .btn-group {
            width: 100%;
            margin-bottom: 4px;
            
            & + .btn-group {
                margin-left: 0;
            }
            
            .btn {
                width: 100%;
            }
        }
        
        .search-as-you-type input.search-as-you-type-input {
            width: 97%;
        }
    }
    
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 348px) {
	  .logo {
        width: 71%;
    }

    .navbar-global {
        .btn {
            margin-top: 27px;
        }
    }

    body {
        &.index {
        	.mt {
                margin-top: 20px;
            }

            .content {
                h1 {
                    margin-bottom: 20px;
                    font-size: 21.5px;
                    line-height: 30px;
                }

                h2 {
                	width: 100%;
                    font-size: 13.5px;
                    line-height: 20px;
                }

                img.cubes {
                    z-index: -1;
                    margin-top: 0px;
                }

                div.inner {
                    margin-top: 20px;
                }
            }
        }
    }
    
    .btn-add-ext {
        float: none;
        
        .btn {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            padding-left: 0;
            padding-right: 0;
        }
    }
    
    
    @transitionDuration : 0s;

    .isotope,
    .isotope .isotope-item {
      -webkit-transition-duration: @transitionDuration;
         -moz-transition-duration: @transitionDuration;
          -ms-transition-duration: @transitionDuration;
           -o-transition-duration: @transitionDuration;
              transition-duration: @transitionDuration;
    }
    
    #extensions {
        .element {
            width: 213px;
            &.premium.large, &.free.large {
                height: 266px;
            }
            
            &.premium, &.free.large {
                width: 213px;
                
                .wrapper {
                    .info {
                        width: 105px;
                        
                        h5 {
                            margin-top: 24px;
                            font-size: 12px;
                        }
                        
                        p, p.extension-version {
                            font-size: 10px;
                        }
                    }
                    
                    .extras {
                        margin: 0 10px;
                        height: 140px;
                        
                        .description {
                            min-width: 195px;
                            text-align: justify;
                            font-size: 10px;
                            line-height: 10px;
                        }
                        
                        .progress {
                            margin: 8px 0 0 8px;
                        }
                        
                        .btn-mini {
                            width: 100%;
                            padding-left: 0;
                            padding-right: 0;
                            
                            &.btn-screenshots {
                                margin-bottom: 4px;
                            }
                        }
                    }
                }
            }
        }
        .mt_filters {
            .btn-group {
                width: 100%;
                margin-right: 0;
                margin-bottom: 4px;
                
                & + .btn-group {
                    margin-left: 0;
                }
                
                .btn {
                    width: 100%;
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }
}

@media only screen
and (min-width : 349px)
and (max-width : 481px) {
    body {
        &.index {
        	.mt {
                margin-top: 20px;
            }

            .content {
                h1 {
                    margin-bottom: 4px;
                    font-size: 21.5px;
                    line-height: 30px;
                }

                h2 {
                	width: 60%;
                    margin-bottom: 0;
                    font-size: 15.5px;
                    line-height: 20px;
                }

                img.cubes {
                    z-index: -1;
                    margin-top: 0px;
                }

                div.inner {
                    margin-top: 20px;

                    section {
                        &.watch-video {
                          div.mac-book-air {
                              .js-video {
                                  iframe {
                                      height: 60%;
                                      left: 18%;
                                      top: 6%;
                                      width: 64%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}