.yesYouCanEditHere;

/* Bootstrap default - large screen */
@media only screen
and (min-width : 980px){
    #screenshots {
        .modal {
            width: 960px;
            margin-left: -480px;
        }
    }
}

@media only screen
and (max-width : 979px) {

    .logo {
        margin: 20px 0;
    }

    .navbar-global {
        .navbar-inner {
            .nav {
            	&.nav-mainmenu {
            	    background-color: @Red;
                    z-index: 2;
                    
            	    li {
            	        &.open {
            	            background-color: @Blue;

            	            .dropdown-menu {
            	                margin-right: 15px;
            	            }
            	        }
            	    }
                }

                & > li > a {
                    border-right: 0;
                }

                & > .first > a,
                & > .first > a:hover,
                & > .first > a:focus {
                    -webkit-border-bottom-left-radius: 0;
                    -moz-border-radius-bottomleft: 0;
                    border-bottom-left-radius: 0;
                }

                & > .last > a,
                & > .last > a:hover,
                & > .last > a:focus {
                    -webkit-border-bottom-right-radius: 0;
                    -moz-border-radius-bottomright: 0;
                    border-bottom-right-radius: 0;
                }

                &.nav-subpages {
                	bottom: 0;
                    padding: 12px 0 24px 0;

                    & > li {
                    	float: left;

                        & > a {
                        	margin-left: 0;
                            margin-right: 24px;
                        }

                        &:last-of-type {
                            & > a {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }

        .btn {
            margin-top: 33px;
        }

        .btn-navbar {
            background-color: @Red;
            background-image: none;
            border-color: darken(@Red, 15%);

            &:hover {
                background-color: @Blue;
                border-color: darken(@Blue, 15%);
            }
        }
    }

    body {
        &.index {
            .content {
                div.inner {
                    section {
                        &.watch-video {
                            div.mac-book-air {
                                .js-video {
                                    iframe {
                                        height: 60%;
                                        left: 18%;
                                        top: 6%;
                                        width: 64%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Bootstrap standard medium screen */
@media (min-width: 768px) and (max-width: 979px) {
    body {
        &.index {
            .content {
                div.inner {
                    section {
                        &.watch-video {
                            div.mac-book-air {
                                .js-video {
                                    iframe {
                                        height: 189px;
                                        left: 83px;
                                        top: 45px;
                                        width: 301px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .accordion-group .accordion-inner {
        & .btn {
            width: 80%;
            margin-bottom: 4px;
        }
    }
}

/* Bootstrap standard small screen */
@media (max-width: 767px) {
    body {
        &.index {
            .content {
                div.inner {
                    section {
                        padding: 10px 0;

                        h3, h4 {
                            text-align: center;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    
    .accordion-group .accordion-inner {
        .version-info {
            font-size: 12px;
        }
        .panel {
            &.details {
                border-right: none;
            }
            
            &.deployment {
                border-right: none;
                
                h5 {
                    span.version {
                    	float: none;
                        margin-left: 10px;
                        margin-right: 0;
                    }
                }
            }
        }
        & .btn {
            width: 26%;
        }
    }
    
    .accordion-group .accordion-heading .accordion-toggle {
        .left-content {
            width: 100%;
            .store-name {
                font-size: 14px;
            }
        }
        .right-content {
    		position: absolute;
            margin-top: 32px;
            
        	&.inactive {
                display: none;
            }
            
            .in-use {
                span.span3 {
                    width: 230px;
                }
            }
        }
    }
    
    
    .tab-stripe.active {
        min-height: 76px;
    }
    
    .accordion-group.accordion-add-new .accordion-inner .btn-add-store {
        width: 50%;
        margin-left: 20%;
        position: inherit;
        top: 0;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-width : 480px) {
  body {
      &.index {
          .content {
              div.inner {
                  section {
                      &.watch-video {
                          div.mac-book-air {
                              .js-video {
                                  iframe {
                                    //top: 40px;
                                      /*height: 142px;
                                      left: 63px;
                                      top: 40px;
                                      width: 227px;*/
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    .accordion-group {
        .accordion-heading .accordion-toggle {
            .left-content {
                .store-name {
                    font-size: 14px;
                }
            }
        }
        .accordion-inner {
        	.version-info {
                font-size: 12px;
            }
            .panel {
                &.details {
                    border-right: none;
                }
                
                &.deployment {
                    border-right: none;
                    
                    h5 {
                    	span.version {
                    		float: none;
                            margin-left: 10px;
                            margin-right: 0;
                        }
                    }
                }
            }
            
            & .btn {
                width: 26%;
                &.rollback-button, &.commit-button, &.deploy-button {
                    width: 90%;
                    margin-bottom: 6px;
                }
            }
        }
    }
    
    .accordion-group.accordion-add-new .accordion-inner .btn-add-store {
        width: 50%;
        margin-left: 20%;
        padding: 8px 12px 4px 12px;
        position: inherit;
        top: 0;
        width: inherit;
    }
}

/* Smartphones (landscape) ----------- */
/* @media only screen
and (min-width : 321px) {

} */

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 348px) {
	.logo {
        width: 71%;
    }

    .navbar-global {
        .btn {
            margin-top: 27px;
        }
    }

    body {
        &.index {
        	.mt {
                margin-top: 20px;
            }

            .content {
                h1 {
                    margin-bottom: 20px;
                    font-size: 21.5px;
                    line-height: 30px;
                }

                h2 {
                	width: 100%;
                    font-size: 13.5px;
                    line-height: 20px;
                }

                img.cubes {
                    z-index: -1;
                    margin-top: 0px;
                }

                div.inner {
                    margin-top: 20px;
                }
            }
        }
    }
    
    .accordion-group .accordion-inner {
        & .btn {
            width: inherit;
        }
    }
    
    .accordion-group.accordion-add-new .accordion-inner .btn-add-store {
        margin-left: 6px;
        padding: 8px 12px 4px 12px
        position: inherit;
        top: 0;
        width: inherit;
    }
}
@media only screen
and (min-width : 349px)
and (max-width : 481px) {
    body {
        &.index {
        	.mt {
                margin-top: 20px;
            }

            .content {
                h1 {
                    margin-bottom: 4px;
                    font-size: 21.5px;
                    line-height: 30px;
                }

                h2 {
                	width: 60%;
                    margin-bottom: 0;
                    font-size: 15.5px;
                    line-height: 20px;
                }

                img.cubes {
                    z-index: -1;
                    margin-top: 0px;
                }

                div.inner {
                    margin-top: 20px;

                    section {
                        &.watch-video {
                          div.mac-book-air {
                              .js-video {
                                  iframe {
                                      height: 60%;
                                      left: 18%;
                                      top: 6%;
                                      width: 64%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}