/* COLORS */

@Red				: #f64135;
@Blue				: #34aae5;
@Grey				: #e5e5e5;
@DarkGrey		: #666666;
@Black      : #000000;
@DarkFont   : #19333a;

/* FONTS */
@MainFamily			: Helvetica, Arial, sans-serif;
@TypeKit			: "pragmatica-web", @MainFamily;
@TypeKitCondensed 	: "pragmatica-web-condensed", @MainFamily;

/* COMMON DESIGN ELEMENTS */
@ElementSize		: 60px;
@ElementPad			: 5px;